<div
  class="fixed top-0 left-0 w-[6vw] h-screen rounded border "
  (mouseenter)="expandSidebar()"
  *ngIf="sidebar"
>
  <div class="absolute h-[12vh] w-[6vw] top-0 left-0">
    <div class="flex items-center justify-start h-[8vh] px-[1.5vw]">
      <img
        src="https://www.svgrepo.com/show/303106/mcdonald-s-15-logo.svg"
        alt="logo"
        class="rounded-full w-[3vw] overflow-hidden"
      />
    </div>
  </div>
  <div class="h-[76vh] w-[6vw] absolute top-[12vh] left-0 overflow-auto">
    <ul class="">
      <li
        class="pb-[3vh] px-[1.5vw]"
        routerLink="/dashboard/details"
        *ngFor="let item of sidebarList"
      >
        <img
          [src]="item.icon"
          alt=""
          class="size-[2.5vw]  overflow-hidden mb-2 "
        />
        <!-- <p class="text-[0.8vw]">{{ item.text }}</p> -->
      </li>
    </ul>
  </div>
  <div class="h-[8vh] absolute left-0 bottom-0 w-[6vw] text-center">
    <button class="px-[1.4vw] py-[1vh] text-white rounde ">
      <img src="https://www.svgrepo.com/show/326673/help-circle-outline.svg" alt="">
      
    </button>
  </div>
</div>

<div   *ngIf="isExpand"
(mouseleave)="isExpand = false; sidebar = true"
class="w-[18vw] bg-gray-light fixed left-0 top-0 h-screen transition-all duration-300 ease-in-out"
>
  <app-expand-sidebar></app-expand-sidebar>
</div>

<!-- <app-expand-sidebar
  *ngIf="isExpand"
  (mouseleave)="isExpand = false; sidebar = true"
  class= ""
></app-expand-sidebar> -->
